<head>
    <title>Grocery List</title>
    <link href='/styles.css' rel="stylesheet">
    <link href='/normalize.css' rel="stylesheet">
    <link href='/skeleton.css' rel="stylesheet">
</head>
<body>
    <div class='container'>
    <div id="app"></div>
    </div>
    <script src="app.js"></script>
</body>
